{% extends 'base.html.twig' %}

{% block title %}Liste des photos{% endblock %}

{% block body %}
{{ include('_navbar.html.twig') }}
    <h1 class="text-center m-5">Mes photos</h1>
{# 
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Place</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Photo</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for picture in pictures %}
                <tr>
                    <td>{{ picture.title }}</td>
                    <td>{{ picture.place }}</td>
                    <td>{{ picture.date ? picture.date|date('Y-m-d') : '' }}</td>
                    <td>{{ picture.description }}</td>
                    <td>{{ picture.photo }}</td>
                    <td>
                        <a href="{{ path('app_picture_show', {'id': picture.id}) }}" title="Voir"><i class="fa-solid fa-folder-open"></i></a>
                        <a href="{{ path('app_picture_edit', {'id': picture.id}) }}" title="Modifier"><i class="fa-solid fa-pen"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Aucune photo enregistrée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
        <a href="{{ path('app_picture_new') }}" class="btn btn-outline-primary">Enregistrer une nouvelle photo</a>
    </div> #}
<section class="container">
    <div class="row w-100 d-flex justify-content-center gap-5 col-md-12 col-lg-2 m-5">
        {% for picture in pictures %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ asset('uploads/' ~ picture.photo) }}" alt="Photo de pêche">
                <div class="card-body">
                    <h5 class="card-title">{{ picture.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ picture.date|date("d/m/Y") }} - {{ picture.place }}</h6>
                    <p class="card-text">{{ picture.description }}</p>
                    <a href="{{ path('app_picture_show', {'id': picture.id}) }}" title="Voir"><i class="fa-solid fa-folder-open"></i></a>
                    {% if app.user %}
                        <a href="{{ path('app_picture_edit', {'id': picture.id}) }}" title="Modifier"><i class="fa-solid fa-pen"></i></a>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div colspan="5">Aucune photo enregistrée</div>
        {% endfor %}
    </div>
    {% if app.user %}
        <a href="{{ path('app_picture_new') }}" class="btn btn-outline-primary">Enregistrer une nouvelle photo</a>
    {% endif %}
</section>
{% endblock %}
