{% extends 'base.html.twig' %}

{% block title %}Liste des photos{% endblock %}

{% block body %}
{{ include('_navbar.html.twig') }}

<h1 class="text-center m-5">Mes photos</h1>
<hr>
<section class="container mb-5">
    <div class="row w-100 d-flex justify-content-center gap-5 col-md-12 col-lg-2">
        {% for picture in pictures %}
            <div class="card card-picture" style="width: 15rem;">
                <img class="card-img-top" src="{{ asset('uploads/' ~ picture.photo) }}" onclick="window.open(this.src , 'exemple', 'height=800, width=800, top=150, left=400, toolbar=no, menubar=no, location=no, resizable=no, scrollbars=no, status=no')" alt="Photo de pêche">
                <div class="card-body">
                    <h5 class="card-title">{{ picture.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ picture.date|date("d/m/Y") }} - {{ picture.place }}</h6>
                    <p class="card-text">{{ picture.description }}</p>
                    {% if app.user %}
                    <div class="d-flex justify-content-end">
                        <a href="{{ path('app_picture_show', {'id': picture.id}) }}" title="Voir"><i class="fa-solid fa-folder-open"></i></a>
                        <a href="{{ path('app_picture_edit', {'id': picture.id}) }}" title="Modifier"><i class="fa-solid fa-pen"></i></a>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div colspan="5">Aucune photo enregistrée</div>
        {% endfor %}
    </div>
    {% if app.user %}
        <a href="{{ path('app_picture_new') }}" class="btn btn-outline-primary mt-3">Ajouter une nouvelle photo</a>
    {% endif %}
</section>
{% endblock %}
