{% extends 'base.html.twig' %}

{% block title %}Liste des photos{% endblock %}

{% block body %}
{{ include('_navbar.html.twig') }}
<h1 class="text-center m-5">Mes photos</h1>
<hr>
<section class="container mb-5">
    <div class="row w-100 d-flex justify-content-center gap-5 col-md-12 col-lg-2">
        {% for picture in pictures %}
            {# <div class="card card-picture" style="width: 15rem;">
                <img class="card-img-top" src="{{ asset('uploads/' ~ picture.photo) }}" onclick=openPictureInPopup(this.src) alt="Photo de pêche">
                <div class="card-body">
                    <h5 class="card-title">{{ picture.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ picture.date|date("d/m/Y") }} - {{ picture.place }}</h6>
                    <p class="card-text">{{ picture.description }}</p>
                    {% if app.user %}
                    <div class="d-flex justify-content-end">
                        <a href="{{ path('app_picture_show', {'id': picture.id}) }}" title="Voir"><i class="fa-solid fa-folder-open"></i></a>
                        <a href="{{ path('app_picture_edit', {'id': picture.id}) }}" title="Modifier"><i class="fa-solid fa-pen"></i></a>
                    </div>
                    {% endif %}
                </div>
            </div> #}
            <h2 class="text-center">{{ picture.title }}</h2>
            <h6 class="text-center">{{ picture.date|date("d/m/Y") }} - {{ picture.place }}</h6>

            <img class="picture" src="{{ asset('uploads/' ~ picture.photo) }}" onclick=openPictureInPopup(this.src) alt="Photo de pêche">
            <p class="text-center">{{ picture.description }}</p>
            {% if app.user %}
                <div class="d-flex justify-content-around">
                    <a href="{{ path('app_picture_show', {'id': picture.id}) }}" title="Voir"><i class="fa-solid fa-folder-open"></i></a>
                    <a href="{{ path('app_picture_edit', {'id': picture.id}) }}" title="Modifier"><i class="fa-solid fa-pen"></i></a>
                </div>
            {% endif %}
            <hr>
        {% else %}
            <div colspan="5">Aucune photo enregistrée</div>
        {% endfor %}
    </div>
    {% if app.user %}
        <a href="{{ path('app_picture_new') }}" class="btn btn-outline-primary mt-3 mb-5">Ajouter une nouvelle photo</a>
    {% endif %}
</section>
{{ include('_footer.html.twig') }}

<div class="back-to-top">
    <a href="#top">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
    </svg>
    </a>
</div>
{% endblock %}
