{% extends 'base.html.twig' %}

{% block title %}Liste de mon matériel{% endblock %}

{% block body %}
{{ include('_navbar.html.twig') }}
<h1 class="text-center m-5">Mon matériel</h1>
<hr>
<section class="container mb-5">
    <div class="row w-100 d-flex justify-content-center gap-5 col-md-12 col-lg-2">
        {% for material in materials %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ asset('uploads/' ~ material.photo) }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ material.name }}</h5>
                    <p class="card-text">{{ material.description }}</p>
                    {% if app.user %}
                        <a href="{{ path('app_material_show', {'id': material.id}) }}" title="Voir"><i class="fa-solid fa-folder-open"></i></a>
                        <a href="{{ path('app_material_edit', {'id': material.id}) }}" title="Modifier"><i class="fa-solid fa-pen"></i></a>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div colspan="5">Aucun matériel enregistré</div>
        {% endfor %}
    </div>
    {% if app.user %}
        <a href="{{ path('app_material_new') }}" class="btn btn-outline-primary">Ajouter un nouveau matériel</a>
    {% endif %}
</section>
{% endblock %}
