{% extends 'base.html.twig' %}

{% block title %}Liste de mon matériel{% endblock %}

{% block body %}
{{ include('_navbar.html.twig') }}

<h1 class="text-center m-5">Mon matériel</h1>
<hr>
<section class="container mb-5">
    <div class="row w-100 d-flex justify-content-center gap-5 col-md-12 col-lg-2">
        {% for material in materials %}
            {# <div class="card" style="width: 15rem;">
                <img class="card-img-top photoToGrow" src="{{ asset('uploads/' ~ material.photo) }}" alt="Card image cap" onclick=openPictureInPopup(this.src) alt="Photo de matériel de pêche">
                <div class="card-body">
                    <h5 class="card-title">{{ material.name }}</h5>
                    <p class="card-text">{{ material.description }}</p>
                    {% if app.user %}
                        <a href="{{ path('app_material_show', {'id': material.id}) }}" title="Voir"><i class="fa-solid fa-folder-open"></i></a>
                        <a href="{{ path('app_material_edit', {'id': material.id}) }}" title="Modifier"><i class="fa-solid fa-pen"></i></a>
                    {% endif %}
                </div>
            </div> #}
            
            <h2 class="text-center">{{ material.name }}</h2>
            <img class="pictureMateriel" src="{{ asset('uploads/' ~ material.photo) }}" onclick=openPictureInPopup(this.src) alt="Photo de matériel de pêche">
            <p class="text-center">{{ material.description }}</p>
            {% if app.user %}
            <div class="d-flex justify-content-around">
                <a href="{{ path('app_material_show', {'id': material.id}) }}" title="Voir"><i class="fa-solid fa-folder-open"></i></a>
                <a href="{{ path('app_material_edit', {'id': material.id}) }}" title="Modifier"><i class="fa-solid fa-pen"></i></a>
            {% endif %}
            </div>
            <hr>
        {% else %}
            <div colspan="5">Aucun matériel enregistré</div>
        {% endfor %}
    </div>
    {% if app.user %}
        <a href="{{ path('app_material_new') }}" class="btn btn-outline-primary mt-3 mb-5">Ajouter un nouveau matériel</a>
    {% endif %}
</section>
{{ include('_footer.html.twig') }}
<div class="back-to-top">
    <a href="#top">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
    </svg>
    </a>
</div>
{% endblock %}
