<div id="top"></div>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home')}}">
            <img class="icon-navbar" src="{{ asset('/img/breme.svg') }}" alt="Retour à l'accueil" title="Accueil">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_fishing_index') }}">Mes pêches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_picture_index') }}">Photos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_material_index') }}">Mon matériel</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li>
                    <form action="{{ path('search-result') }}" class="mt-2">
                        <input name="search" id="search" class="search" type="text" placeholder="Rechercher une pêche" title="Rechercher">
                        <button type="submit" id="go" class="me-5 go" title="Go"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </li>
                {% if not app.user %}
                    <li class="nav-item">
                        <a class="nav-link me-2" href="{{ path('app_login') }}" title="Connexion"><i class="fa-solid fa-arrow-right-to-bracket fa-2x"></i></a>
                    </li>
                {% endif %}
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link me-2" href="{{ path('app_logout') }}" title="Déconnexion"><i class="fa-solid fa-arrow-right-from-bracket fa-2x"></i></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>