{% extends 'base.html.twig' %}

{% block title %}Liste des pêches{% endblock %}

{% block body %}
{{ include('_navbar.html.twig') }}

<h1 class="text-center m-5">Listes des pêches</h1>

<section class="container">
    {% if maxFishing %}
    <div class="d-flex justify-content-end">
        <a href="{{ path('fishing_paginer', {'page': currentPage + 1}) }}" class="btn mt-3">
            <i class="fa-solid fa-chevron-right fa-3x" title="Page suivante"></i>
        </a>
    {% endif %}
    {% if currentPage > 1 %}
        <a href="{{ path('fishing_paginer', {'page': currentPage - 1}) }}" class="btn mt-3">
            <i class="fa-solid fa-chevron-left fa-3x" title="Page précédente"></i>
        </a>
    {% endif %}
    </div>

    <table class="table table-striped table-bordered table-hover table-sm">
        <thead>
            <tr class="table-primary">
                <th>Poisson</th>
                <th>Date</th>
                <th>Lieu</th>
                <th class="unshow">Leurre</th>
                <th class="unshow">Météo</th>
                <th class="unshow">Appât</th>
                {% if app.user %}
                <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for fishing in fishings %}
            <tr>
                <td>{{ fishing.fishRace }}</td>
                <td>{{ fishing.date ? fishing.date|date('d-m-Y') : '' }}</td>
                <td>{{ fishing.place }}</td>
                <td class="unshow">{{ fishing.lure }}</td>
                <td class="unshow">{{ fishing.weather }}</td>
                <td class="unshow">{{ fishing.bait }}</td>
                {% if app.user %}
                <td>
                    <a href="{{ path('app_fishing_show', {'id': fishing.id}) }}" title="Voir"><i class="fa-solid fa-folder-open fa-2x"></i></a>
                    <a href="{{ path('app_fishing_edit', {'id': fishing.id}) }}" title="Modifier"><i class="fa-solid fa-pen fa-2x"></i></a>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune pêche enregistrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user %}
        <a href="{{ path('app_fishing_new') }}" class="btn btn-outline-primary mb-5">Ajouter une nouvelle pêche</a>
    {% endif %}
</section>
{{ include('_footer.html.twig')}}
{% endblock %}
